body {
    background-image:url(Assets/deck.png);
}

h1{
    text-align:center;
}
#first-card {
    position: absolute;
    display: inline-block;
    height: 200px;
    width: 100px;
    margin-top: -2.5em;
}

#second-card {
    display: inline-block;
    height: 200px;
    width: 100px;
    margin-left: 2em;
    margin-top: 3.5em;
}

#img1{
    padding-top:6em;
}

#deck{
    text-align:center;
}

#winner-page{
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 20vw;
    left: 20vh;
    background-color: bisque;
}
#slap-page {
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 20vw;
    left: 20vh;
    background-color: bisque;
}
#slap-page {
    font-size: 3em;
}

.hidden{
    display: none;
}

