body {
    background-image:url(Assets/deck.png);
}

h1{
    text-align:center;
}
#first-card {
    display: inline-block;
    height: 200px;
    width: 100px;
}

#second-card {
    display: inline-block;
    height: 200px;
    width: 100px;
    margin-left:6em;
}

#img1{
    padding-top:6em;
}

#deck{
    text-align:center;
}

