@page
@model SpeedWar.Pages.Play.IndexModel
@{
}

<link rel="stylesheet" type="text/css" href="~/Play.css">
<h1>Speed War</h1>
<button id="sendButton"> button </button>

@*DO NOT DELETE ME... I'M IMPORTANT!!!*@
<p id="player" display="none">@Model.Player.Name</p>
<div id="deck">
    <div id="userdeck">
<img style="width:60px;height:100px" src="~/Assets/PNG/yellow_back.png" />
        </div>
<ol id="first-card">
    <li id="li1">*</li>
    <li id="li2">*</li>
</ol>
<ol id="second-card">
    <li id="li3">*</li>
    <li id="li4">*</li>
</ol>
    <div id="computerdeck">
<img style="width:60px;height:100px" src="~/Assets/PNG/blue_back.png" />
        </div>
    </div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/play.js"></script>