@page
@model SpeedWar.Pages.Play.IndexModel
@{
}

<link rel="stylesheet" type="text/css" href="~/Play.css">
<h1>Speed War</h1>
<button id="sendbutton"> Start Game </button>

@*DO NOT DELETE ME... I'M IMPORTANT!!!*@
<p id="player" display="none">@Model.Player.Name</p>
<div id="deck">
    <div id="computerdeck">
            <img style="width:60px;height:100px" src="~/Assets/PNG/yellow_back.png" />
    </div>
  
    <div id="first-card">
    <img id="img1" style="width:100%;height:auto" src="~/Assets/PNG/null.jpg" />
</div>
    <div id="second-card">
        <img id="img2" style="width:100%;height:auto" src="~/Assets/PNG/null.jpg" />
    </div>
    <div id="userdeck">
        <img style="width:100px;height:auto" src="~/Assets/PNG/blue_back.png" />
    </div>

    <div id="userdeck">
        <img style="width:60px;height:100px" src="~/Assets/PNG/blue_back.png" />
</div>
<div id="winner-page" class="hidden">
    <p><span id="winner-id">Player</span> wins! </p>
    <button id="winner-button" asp-page="Play/Index">Play Again?</button>
</div>


<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/play.js"></script>
