@page
@model SpeedWar.Pages.Play.IndexModel
@{
}

<link rel="stylesheet" type="text/css" href="~/Play.css">
<h1>Speed War</h1>
<button id="sendbutton"> Start Game </button>

@*DO NOT DELETE ME... I'M IMPORTANT!!!*@
<p id="player" display="none">@Model.Player.Name</p>
<div id="deck">
    <div id="computerdeck">
            <img style="width:60px;height:100px" src="~/Assets/PNG/yellow_back.png" />
    </div>
  
    <div id="first-card">
    <img id="img1" style="width:90px;height:130px" src="~/Assets/PNG/null.jpg" />
</div>
    <div id="second-card">
        <img id="img2" style="width:90px;height:130px" src="~/Assets/PNG/null.jpg" />
    </div>
    <div id="userdeck">
        <img style="width:60px;height:100px" src="~/Assets/PNG/blue_back.png" />
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/play.js"></script>
