@page
@model SpeedWar.Pages.Play.IndexModel
@{
}

<div class="first-card"></div>
<div class="second-card"></div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/play.js"></script>