@page
@model SpeedWar.Pages.Play.IndexModel
@{
}
Play Page

<button id="sendButton"> button </button>

@*DO NOT DELETE ME... I'M IMPORTANT!!!*@
<p id="player" display="none">@Model.Player.Name</p>

<ol id="first-card">
    <li id="li1">*</li>
    <li id="li2">*</li>
</ol>
<ol id="second-card">
    <li id="li3">*</li>
    <li id="li4">*</li>
</ol>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/play.js"></script>